i {
    font-size: 14pt;
}

i.fa-brands.fa-instagram {
    font-size: 19pt;
}

i fa-solid.fa-gear {
    font-size: 18pt;
}
/* 
div.gridHeight {
    height: 50vh;
} */

.arFix img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}
